.lovebus{color:orange;}

body{
  background-color: #CCCCFF;
}
.pr {
  font-size: 20px;
}
.lovebus{
  text-align: center;
}
.lovebus{
  dorder: solid 2px red;
}
.pr{
  borber-bottom: solid 1px black;
}
