.lovebus{color:orange;}

body{
  background-color: #CCCCFF;
}
.pr {
  font-size: 20px;
}
.lovebus{
  text-align: center;
}
.lovebus{
  border: solid 2px red;
}
.pr{
  border-bottom: solid 1px black;
}
.srcimg1 img {
  width: 100%;
}

.iwatekenkotsugod {
  width: 110px;
}
p {
  background:gray;
}
